/*
*** INTRO ***
Hello, and welcome to the 2018 iGEM Team Toulouse's main css page.
If you are a member of this team and would like information about this page, feel free to contact me:
	callum.j.burnard@gmail.com
If you are an iGEM judge, I hope that you find this page to be welcoming and enjoyable. May I recommend some soothing music to accompany you in your judging? https://www.youtube.com/watch?v=3pGwlKjpdfc
If you are neither of these, please leave. Thank you and goodbye.
*/

body {
	background: linear-gradient(to bottom, #ffffff, #ffedcf);
	
}

p, h1, h2, h3, h4, h5, h6 {
	
	margin-left: 0%;
	margin-right: 16.66666667%;
	
}

#main {
	font-size: 12px;
	color: #010b13;
	line-height: 16px;
	text-align: justify;
	margin-left: 16.66666667%;
	margin-right: 16.66666667%;
	background-color: #FFC53A;
}


#border-left {
	width: 16.66666667%;
	top: 0%;
	left: 0%;
	position: fixed;
	background-attachment: fixed;
}

#border-right {
	width: 16.66666667%;
	right: 0%;
	position: fixed;
	background-attachment: fixed;
}
