/*
*** INTRO ***
Hello, and welcome to the 2018 iGEM Team Toulouse's main css page.
If you are a member of this team and would like information about this page, feel free to contact me:
	callum.j.burnard@gmail.com
If you are an iGEM judge, I hope that you find this page to be welcoming and enjoyable. May I recommend some soothing music to accompany you in your judging? https://www.youtube.com/watch?v=3pGwlKjpdfc
If you are neither of these, please leave. Thank you and goodbye.
*/

body {
	background-image: url('tumblr_static_px_by_gre3g.png');
	height: 100%;
	width: 100%;
	
}

p, h1, h2, h3, h4, h5, h6 {
	
	margin-left: 0%;
	margin-right: 16.66666667%;
	
}

#main {
	z-index: -9;
	font-size: 12px;
	color: #FAFF81;
	line-height: 16px;
	text-align: justify;
	height: 110%;
	margin-left: 16.66666667%;
	margin-right: 16.66666667%;
}


#border-left {
	height: 110%;
	width: 16.66666667%;
	top: 0px;
	left: 0%;
	position: fixed;
	background-attachment: fixed;
}

#menu {
	height: 66.66666667%;
	width: 5%;
	top: 16.66666667%;
	left: 5%;
	position: fixed;
	background-attachment: fixed;
	background-color: #EA531C;
}

#sub-menu {
	height: 66.66666667%;
	width: 6.66666667%;
	top: 16.66666667%;
	left: 10%;
	position: fixed;
	background-attachment: fixed;
	background-color: #FFC53A;
}

#border-right {
	height: 110%;
	width: 16.66666667%;
	top: 0px;
	right: 0px;
	position: fixed;
	background-attachment: fixed;
}
